/* body{
    background-color: bisque;
}
.kvadrat{
background-color: blue;
height: 200px;
width: 200px;
}
.input{
    display: flex;
}
.oform{
    width: 30%;
    height: 200px;
    background-color: #008080;
    margin: 20px 50px;
    border-radius:  20px;
    
}
.input{
    font-family: 'Oswald', sans-serif;
}
.list{
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;
}
h2{
    width: 60%;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
} */



/* To do list Pro */
body{
    font-family: 'Baloo Paaji 2', cursive;
}
.container{
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #20B2AA;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}

.completed{
    text-decoration: line-through;
    color: red;
}

.btn-delete{
    margin-left: 20px;
    border-radius: 2px;
    background-color: coral;
    border: none;
}
.list{
    background-color: #FFFF00;
    border-radius: 5px;
}
.inp{
    font-family: 'Baloo Paaji 2', cursive;
    border-radius: 5px;
    border: none;
}
.btn{
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #9ACD32;
    border: none;
    border-radius: 5px;
}